@font-face {
  font-family: 'PixelF';
  src: url('Fonts/PixelF.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  display: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 1em;
  color: #555555;
}

body {
  font-family: 'PixelF';
  background-image: url('Media/fondo.webp');
  background-repeat: repeat-y;
  background-size: contain;
  background-position: center center;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

@media screen and (orientation: landscape) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1.15rem;
  }

  li {
    font-size: 1.05rem;
  }

  p {
    font-size: 1rem;
  }

  a {
    font-size: 1.25rem;
    text-decoration: none;
    transition: color 500ms;
  }

  header {
    position: fixed;
    display: flex;
    background-color: black;
    z-index: 100;
    height: 10vh;
    width: 100vw;
  }

  header p {
    font-size: 1.5rem;
  }

  header .contenedor {
    display: flex;
    height: 100%;
    max-width: 80%;
    align-items: center;
  }

  header img {
    position: absolute;
    left: 100px;
  }

  #menu_checkbox {
    display: none;
  }

  header .contenedor .icon_menu {
    display: none;
  }

  header .contenedor .menu {
    display: flex;
    position: absolute;
    right: 100px;
  }

  header .contenedor .menu ul {
    display: flex;
  }

  header .contenedor .menu ul a {
    padding: 0 10px;
    list-style: none;
  }

  #hero {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 50vh;
    width: 100vw;
    margin: 15px;
  }

  #hero .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  #pc {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: auto;
    width: 100vw;
    margin-left: 10px;
    margin-right: 10px;
  }

  #pc .contenedor {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #pc .contenedor a {
    font-size: 2.5rem;
  }

  #pc .contenedor .card {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #111;
    flex-direction: row;
  }

  #pc .contenedor .card .tarjeta {
    position: relative;
    overflow: hidden;
    height: 480px;
    width: 200px;
    max-height: 600px;
    max-width: 400px;
    margin: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #pc .contenedor .card .tarjeta img {
    width: auto;
    height: 60%;
  }

  #pc .contenedor .card .tarjeta .texto {
    width: auto;
    height: 40%;
  }

  #pc .contenedor .card .tarjeta .texto p {
    font-size: .85rem;
    max-height: 65%;
    min-height: 60%;
    width: auto;
    height: auto;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  #pc .contenedor .card .tarjeta .texto .link {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
  }

  #pc .contenedor .card .tarjeta .texto .link a {
    font-size: 1.25rem;
    border-top: 1px solid white;
  }

  #peliculas {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: auto;
    width: 100vw;
    margin-left: 10px;
    margin-right: 10px;
  }

  #peliculas .contenedor {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #peliculas .contenedor a {
    font-size: 2.5rem;
  }

  #peliculas .contenedor .card {
    display: flex;
    text-align: center;
    background: #111;
    flex-direction: row;
  }

  #peliculas .contenedor .card .tarjeta {
    position: relative;
    overflow: hidden;
    height: 480px;
    width: 200px;
    max-height: 600px;
    max-width: 400px;
    margin: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #peliculas .contenedor .card .tarjeta img {
    width: auto;
    height: 60%;
  }

  #peliculas .contenedor .card .tarjeta .texto {
    width: auto;
    height: 40%;
  }

  #peliculas .contenedor .card .tarjeta .texto p {
    font-size: .85rem;
    max-height: 65%;
    min-height: 60%;
    width: auto;
    height: auto;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  #peliculas .contenedor .card .tarjeta .texto .link {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
  }

  #peliculas .contenedor .card .tarjeta .texto .link a {
    font-size: 1.25rem;
    border-top: 1px solid white;
    display: flex;
    flex-direction: column;
  }

  #social {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 70vh;
    width: 100vw;
    margin-left: 10px;
    margin-right: 10px;
  }

  #social .contenedor {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 15px 0 15px;
  }

  #social .contenedor .donacion {
    padding: 125px 25px 125px 25px;
    height: 500px;
    width: 350px;
    color: #fe2020;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  #social .contenedor .donacion p {
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  footer {
    background-color: white;
    color: black;
    bottom: 0;
    width: 100%;
  }

  footer .contenedor {
    padding: 15px;
    height: 5vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
  }
}

@media screen and (orientation: portrait) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: .75rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  li {
    font-size: 1.05rem;
  }

  p {
    font-size: 1rem;
  }

  a {
    font-size: 1.25rem;
    text-decoration: none;
    transition: color 500ms;
  }

  header {
    position: fixed;
    display: flex;
    background-color: black;
    z-index: 50;
    height: 10vh;
    width: 100vw;
  }

  header p {
    font-size: 1.5rem;
  }

  header .contenedor {
    display: flex;
    height: 100%;
    max-width: 80%;
    align-items: center;
  }

  header img {
    max-width: 50%;
    position: absolute;
    left: 10px;
  }

  header .contenedor .menu_icon {
    position: absolute;
    top: 50%;
    right: 50px;
    width: 25px;
    transform: translateY(-50%) scale(2);
  }

  header .contenedor .menu {
    height: 0px;
    border-radius: 15px;
    position: absolute;
    right: 5vw;
    top: 9vh;
    overflow: hidden;
    z-index: 100;
    transition: all 300ms;
  }

  header .contenedor .menu .mostrar_menu {
    height: 130px;
  }

  header .contenedor .menu ul {
    display: flex;
    flex-direction: column;
    padding: 10px 0px 10px 0px;
    background: white;
  }

  header .contenedor .menu a {
    padding: 5px 15px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    transition: color 500ms;
  }

  *:focus {
    outline: none;
  }

  #menu_button {
    width: 39px;
    overflow: hidden;
  }

  #menu_checkbox {
    display: none;
  }

  #menu_label {
    position: relative;
    display: block;
    height: 29px;
    cursor: pointer;
  }

  #menu_label:before,
  #menu_label:after,
  #menu_text_bar {
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #fff;
  }

  #menu_label:before,
  #menu_label:after {
    content: "";
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
  }

  #menu_label:before {
    top: 0;
  }

  #menu_label:after {
    top: 12px;
  }

  #menu_text_bar {
    top: 24px;
  }

  #menu_text_bar:before {
    content: "PLAY";
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
    color: #fff;
    font-size: 15px;
    text-align: center;
  }

  #menu_checkbox:checked+#menu_label:before {
    left: -39px;
  }

  #menu_checkbox:checked+#menu_label:after {
    left: 39px;
  }

  #menu_checkbox:checked+#menu_label #menu_text_bar:before {
    animation: moveUpThenDown 0.8s ease 0.2s forwards,
      shakeWhileMovingUp 0.8s ease 0.2s forwards,
      shakeWhileMovingDown 0.2s ease 0.8s forwards;
  }

  #hero {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 50vh;
    width: 100vw;
    margin-left: 10px;
    margin-right: 10px;
  }

  #hero .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  #pc {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: auto;
    width: 100vw;
    margin-left: 10px;
    margin-right: 10px;
  }

  #pc .contenedor {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #pc .contenedor a {
    font-size: 2.5rem;
  }

  #pc .contenedor .card {
    display: flex;
    text-align: center;
    background: #111;
    flex-direction: column;
  }

  #pc .contenedor .card .tarjeta {
    position: relative;
    overflow: hidden;
    height: 480px;
    width: 200px;
    max-height: 600px;
    max-width: 400px;
    margin: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #pc .contenedor .card .tarjeta img {
    width: auto;
    height: 60%;
  }

  #pc .contenedor .card .tarjeta .texto {
    width: auto;
    height: 40%;
  }

  #pc .contenedor .card .tarjeta .texto p {
    font-size: .85rem;
    max-height: 65%;
    min-height: 60%;
    width: auto;
    height: auto;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  #pc .contenedor .card .tarjeta .texto .link {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
  }

  #pc .contenedor .card .tarjeta .texto .link a {
    font-size: 1.25rem;
    border-top: 1px solid white;
  }

  #peliculas {
    margin-top: 50px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: auto;
    width: 100vw;
    margin-left: 10px;
    margin-right: 10px;
  }

  #peliculas .contenedor {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #peliculas .contenedor a {
    font-size: 2.5rem;
  }

  #peliculas .contenedor .card {
    display: flex;
    text-align: center;
    background: #111;
    flex-direction: column;
  }

  #peliculas .contenedor .card .tarjeta {
    position: relative;
    overflow: hidden;
    height: 480px;
    width: 200px;
    max-height: 600px;
    max-width: 400px;
    margin: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #peliculas .contenedor .card .tarjeta img {
    width: auto;
    height: 60%;
  }

  #peliculas .contenedor .card .tarjeta .texto {
    width: auto;
    height: 40%;
  }

  #peliculas .contenedor .card .tarjeta .texto p {
    font-size: .85rem;
    max-height: 65%;
    min-height: 60%;
    width: auto;
    height: auto;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  #peliculas .contenedor .card .tarjeta .texto .link {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
  }

  #peliculas .contenedor .card .tarjeta .texto .link a {
    font-size: 1.25rem;
    border-top: 1px solid white;
    display: flex;
    flex-direction: column;
  }

  #social {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 100vw;
    margin: 15px 10px;
  }

  #social .contenedor {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 15px;
  }

  #social .contenedor .donacion {
    padding: 125px 25px 125px 25px;
    height: 500px;
    width: 350px;
    color: #fe2020;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  #social .contenedor .donacion p {
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  footer {
    background-color: white;
    color: black;
    bottom: 0;
    width: 100%;
  }

  footer .contenedor {
    padding: 15px;
    height: 5vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
  }
}

/*


KEYFRAMES & MORE


*/
button, button::after {
  width: 380px;
  height: 86px;
  font-size: 36px;
  font-family: 'Bebas Neue', cursive;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 88px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
}

button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: 'AVAILABLE NOW';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@keyframes moveUpThenDown {
  0% {
    top: 0;
  }

  50% {
    top: -27px;
  }

  100% {
    top: -14px;
  }
}

@keyframes shakeWhileMovingUp {
  0% {
    transform: rotateZ(0);
  }

  25% {
    transform: rotateZ(-10deg);
  }

  50% {
    transform: rotateZ(0deg);
  }

  75% {
    transform: rotateZ(10deg);
  }

  100% {
    transform: rotateZ(0);
  }
}

@keyframes shakeWhileMovingDown {
  0% {
    transform: rotateZ(0);
  }

  80% {
    transform: rotateZ(3deg);
  }

  90% {
    transform: rotateZ(-3deg);
  }

  100% {
    transform: rotateZ(0);
  }
}

#login-register {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: 100vw;
  margin: 15px 10px;
}

#login-register .contenedor {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px 15px;
}

#login-register .contenedor form {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: auto;
  margin: 15px 10px;
}